<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book Author</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{common.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <div class="container" id="main-content">
        <div class="row border round common-div">
            <div class="col-md-4">
                <h5>Add author: </h5>
                <!--/*@thymesVar id="author" type="ru.otus.spring.rest_book_info_app.controller.rest.dto.AuthorDto"*/-->
                <form
                        th:action="@{/book/{bookId}/author(bookId=${bookId})}"
                        th:object="${author}"
                        th:method="post"
                        id="add-book-author-form"
                >
                    <div class="form-group">
                        <input
                                type="text"
                                id="author-first-name"
                                name="first-name"
                                class="form-control"
                                placeholder="first name..."
                                required
                                th:field="*{firstName}"
                        >
                    </div>
                    <div class="form-group">
                        <input
                                type="text"
                                id="author-last-name"
                                name="last-name"
                                class="form-control"
                                placeholder="last name..."
                                required
                                th:field="*{lastName}"
                        >
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-dark btn-sm" type="submit" id="add-book-author-btn">Add</button>
                        </div>
                        <div class="col-sm">
                            <a class="btn btn-primary btn-sm" th:href="@{/}" href="book/list.html">Back</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script>
        $('#add-book-author-btn')
            .click(
                function (event) {
                    event.preventDefault();

                    const form = $('#add-book-author-form');
                    const action = form.attr("action");

                    $.post(action, form.serialize())
                        .done(function() {
                            window.location.replace("/");
                        })
                        .fail(
                            function(jqXHR) {
                                handleError(jqXHR, action.split("/")[2]);
                            }
                        )
                }
            )
    </script>
</body>
</html>
