<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books Info</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{common.css}">
</head>
<body>
    <div id="main-content" class="container common-div">
        <div class="row">
            <div class="col-lg">
                <h3>Book Info App</h3>
            </div>
            <div class="col-lg">
                <div class="float-right">
                    <a class="btn btn-primary btn-success add" th:href="@{/addBook}" href="add.html">Add book</a>
                </div>
            </div>
        </div>

        <div class="row table-responsive">
            <table id = "book-info" class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Author(s)</th>
                    <th>Genre(s)</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}">1</td>
                    <td th:text="${book.title}">Stub Book</td>
                    <td>
                        <ul th:each="author : ${book.authors}">
                            <li th:text="${author.fullName()}"></li>
                        </ul>
                        <a class="btn btn-link btn-sm" th:href="@{/addBookAuthor(bookId=${book.id})}">Add</a>
                    </td>
                    <td>
                        <ul th:each="genre : ${book.genres}">
                            <li th:text="${genre.getName()}"></li>
                        </ul>
                        <a class="btn btn-link btn-sm" th:href="@{/addBookGenre(bookId=${book.id})}">Add</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-info btn-sm" th:href="@{/info(id=${book.id})}">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-secondary btn-sm" th:href="@{/editBook(id=${book.id})}" href="edit.html">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/removeBook(id=${book.id})}" class="btn btn-danger btn-sm">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>