<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{common.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <div class="container" id="main-content">
        <div class="row border round common-div">
            <div class="col-md-4" id="add-book">
                <h5>Add book: </h5>
                <!--/*@thymesVar id="book" type="ru.otus.spring.reactive_book_info_app.controller.rest.dto.BookDto"*/-->
                <form th:object="${book}" th:method="post" id="add-book-form">
                    <div class="form-group" id="book-title-div">
                        <input
                                type="text"
                                id="book-title"
                                name="title"
                                class="form-control"
                                placeholder="title..."
                                required="required"
                                pattern="[A-Za-z0-9]{1,50}"
                                th:field="*{title}"
                        >
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-dark btn-sm" type="submit" id="add-book-btn">Add</button>
                        </div>
                        <div class="col-sm">
                            <a class="btn btn-primary btn-sm" th:href="@{/}" href="../book_info/info_list.html">Back</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script>
        $('#add-book-btn')
            .click(
                function (event) {
                    event.preventDefault();

                    const titleInput = $('#book-title')

                    if (!titleInput.val().trim()) {
                        titleInput.addClass('is-invalid')
                    } else {
                        $
                            .post('/book', $('#add-book-form').serialize())
                            .done(function () {
                                window.location.replace("/");
                            })
                            .fail(function () {
                                error();
                            })
                    }
                }
            )
    </script>
</body>
</html>